@use "sass:color";

$color-accent: #f17755;

$bg-color-d: color.scale($color-accent, $lightness: -86%, $saturation: -86%);

$bg-color-l: color.scale($color-accent, $lightness: 90%, $saturation: -75%);

$bg-color-s-d: mix($color-accent, $bg-color-d, 15%);

$text-color-secondary-d: color.scale($bg-color-l, $alpha: -50%, $saturation: -90%);

.home h1 {
  text-align: center;
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.home h1:hover {
  transform: scale3d(1.15, 1.15, 1.25) rotate3d(0, 0, 1, 1deg) skewX(5deg);
  -webkit-transform: scale3d(1.15, 1.15, 1.25) rotate3d(0, 0, 1, 1deg) skewX(5deg);
  color: var(--color-accent);
}

.home h1 small {
  font-size: 1.2rem;
  color: var(--color-text-secondary);
  display: block;
  margin-top: 0px;
}

.home small {
  margin-top: -1.5rem;
  display: block;
  font-size: 0.9rem;
  text-align: center;
}

main {
  max-width: 663px !important;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 10px;
}

.projects-special,
.git-special {
  background-color: var(--color-background-mute) !important;
}

.shining-effect {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.shining-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    var(--color-border),
    transparent
  );
  transform: skewX(-20deg);
  animation: shining 3s linear infinite;
}

@keyframes shining {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@media (prefers-color-scheme: light) {
  .shining-effect::before {
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.5),
      transparent
    );
  }
}

.small table {
  width: max-content !important;
}

.home p {
  font-size: 18px;
}

@media print {
  .shining-effect::before {
    display: none;
  }

  footer {
    display: none;
  }
}

.socials-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 4fr));
  gap: 10px;
}

.socials,
.git,
.projects {
  background-color: var(--color-background-second);
  color: var(--color-text);
  text-decoration: none;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.socials:hover,
.git:hover,
.projects:hover {
  transform: scale(1.05);
}

.socials h3,
.git h3,
.projects h3 {
  margin: 0px;
  font-weight: 800;
  letter-spacing: 0 !important;
  font-size: 20px;
}

.socials p,
.git p,
.projects p {
  margin: 0px;
  color: var(--color-text-secondary);
  font-weight: 500;
}

.git-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 4fr));
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .projects-container,
  .socials-container,
  .git-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 682px) {
  nav ul li a {
    white-space: nowrap;
  }

  .home h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 338px){
  nav ul {
    width: 100%;
    overflow-y: auto;
  }
}

.h1-nav {
  margin-right: 35px !important;
}

body {
  font-family: "Inter", sans-serif !important;
}

/* Blog */

.blog-posts {
  margin: 0 auto;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 10px;
}

.post {
  background-color: var(--color-background-second);
  text-decoration: none;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.post:hover {
  transform: scale(1.05);
}

.post h3 {
  margin: 0px;
  font-weight: 900;
  font-size: 24px;
}

.post p {
  margin: 0px;
  color: var(--color-text-secondary);
  font-weight: 500;
}

.post .date {
  text-align: right;
}

.filter-tags {
  margin-bottom: 20px;
}

.filter-tags button {
  margin-right: 10px;
  background-color: var(--color-background-second);
  border-radius: 20px;
  padding: .25rem .75rem;
  font-size: .8rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.filter-tags button:hover {
  transform: scale(1.05);
}

.tags {
  margin-top: 10px;
}

.tags span {
  margin-right: 5px;
  color: var(--color-text-secondary);
  background-color: var(--color-background);
  padding: .15rem .45rem;
  border-radius: 20px;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .post-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

a mark {
  text-decoration: underline;
  display: inline-block;
  transition: transform 0.3s ease;
}

a mark:hover {
  transform: scale(1.2);
}

p a {
  transition: all 0.3s ease;
}

p a:hover {
  color: var(--color-text);
  text-decoration: dotted underline var(--color-text-secondary) !important;
}