@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Kaushan+Script&display=swap");

body {
  font-family: "Geist", sans-serif !important;
}

:root {
  --content-width: 45rem !important;
}

#article-head h1 {
  margin: 0 !important;
}

.home {
  header {
    nav {
      display: none;
    }
  }

  .desc small {
    margin-top: -0.4rem;
    color: var(--color-text);
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    max-width: 40%;

    @media screen and (max-width: 600px) {
      max-width: 100%;
    }
  }

  .cards ul {
    padding-bottom: 1.5rem;

    a {
      text-align: center;
      padding: 30px 20px;

      strong {
        font-weight: 600;
      }
    }
  }

  h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: normal !important;
    letter-spacing: 0;

    span {
      font-family: "Kaushan Script", cursive;
      font-size: 2.4rem;
      letter-spacing: 0;
      display: block;
      margin-top: 0px;
      font-weight: 800;
    }
  }

  blockquote {
    background-color: transparent;
    padding: 1px 19px;

    p {
      color: var(--color-text-secondary);
      margin: 0;
    }
  }

  small {
    display: inline;
  }

  details {
    min-width: 80% !important;
    margin: 0 auto;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 1rem;
  }
}

.important a {
  position: relative;
  display: inline-block;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.621),
      rgba(255, 255, 255, 0)
    );
    transform: skewX(-20deg);
    animation: shining 3s linear infinite;

    @media print {
      display: none;
    }

    @media (prefers-color-scheme: dark) {
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        #ababab40,
        rgba(255, 255, 255, 0)
      );
    }
  }

  @keyframes shining {
    0% {
      left: -100%;
    }

    50% {
      left: 100%;
    }

    100% {
      left: 100%;
    }
  }
}

.vanillaos {
  img {
    all: unset;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
    width: 1em;
    height: 1em;

    &:hover {
      transform: scale(1.2);
      box-shadow: 0;
      border: 0;
    }
  }
}

.small table {
  width: max-content !important;
}

.non-cards-scroll ul li {
  aspect-ratio: 1 / 1;
}

.non-cards ul {
  display: grid;
  margin: 0;
  padding: 0;
  min-width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(320px, 4fr));
  gap: 10px;

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  &:last-of-type {
    margin-top: 1.25rem;
  }

  li {
    display: flex;
    flex-direction: column;
    gap: 0 !important;
    height: 100%;
    width: 100%;
    background-color: var(--color-background-mute);
    color: var(--color-text);
    text-decoration: none;
    text-align: left;
    padding: 18px 20px;
    color: var(--color-text-secondary);
    border-radius: 8px;
    font-weight: 500;
    transition:
      transform 0.3s ease,
      background-color 0.3s ease,
      text-decoration 0.3s ease,
      color 0.3s ease;
    max-height: 100%;

    &:hover {
      text-decoration: none;
      background-color: var(--color-background-mute);
    }

    &:active {
      text-decoration: none;
    }

    ul {
      --mask: linear-gradient(
        to bottom,
        transparent,
        black 1rem,
        black calc(100% - 1rem),
        transparent
      );
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      mask-image: var(--mask);
      overflow: auto;
      margin: 0 -1rem -1rem;
      height: 100%;
      padding: 1rem;
      list-style: disc;

      &:last-of-type {
        margin-top: 10px;
      }

      li {
        aspect-ratio: 0;
        display: block;
        background-color: var(--color-background-second);
        width: 100%;
        height: max-content;

        &:hover {
          background-color: var(--color-background-second);
        }

        strong {
          display: inline;
          font-size: inherit;
        }
      }
    }

    p {
      margin: 0;
    }

    strong {
      display: block;
      margin: 0px !important;
      font-weight: 800;
      letter-spacing: 0 !important;
      font-size: 20px;
      color: var(--color-accent);

      mark {
        text-decoration: none;
        margin-top: 5px;
        width: max-content;
        font-size: 10px;
        display: inline-block;
        vertical-align: top;
        border-radius: 4px;
        background-color: var(--color-accent-alpha);

        &:hover {
          transform: none;
        }
      }
    }

    mark {
      text-decoration: none;
      margin-top: 5px;
      border-radius: 8px;
      width: max-content;
      background-color: var(--color-accent-alpha);

      &:hover {
        transform: none;
      }
    }
  }

  .special a {
    background-color: var(--color-background-mute) !important;

    &:hover {
      background-color: var(--color-accent-alpha) !important;
    }
  }
}

.cards ul {
  display: grid;
  margin: 0;
  padding: 0;
  min-width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(320px, 4fr));
  gap: 10px;

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  &:last-of-type {
    margin-top: 1.25rem;
  }

  li {
    list-style: none;
    text-align: center;

    p {
      margin: 0;
      height: 100%;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    gap: 0 !important;
    height: 100%;
    width: 100%;
    background-color: rgba(218, 105, 68, 0.1);
    color: var(--color-text);
    text-decoration: none;
    text-align: left;
    padding: 18px 20px;
    color: var(--color-text-secondary);
    border-radius: 8px;
    font-weight: 500;
    transition:
      transform 0.3s ease,
      background-color 0.3s ease,
      text-decoration 0.3s ease,
      color 0.3s ease;

    &:hover {
      transform: scale(1.05);
      text-decoration: none;
      background-color: rgba(218, 105, 68, 0.15);
    }

    &:active {
      transform: scale(0.9);
      text-decoration: none;
    }

    strong {
      margin: 0px !important;
      font-weight: 800;
      letter-spacing: 0 !important;
      font-size: 20px;
      color: var(--color-text);

      mark {
        text-decoration: none;
        margin-top: 5px;
        width: max-content;
        font-size: 10px;
        display: inline-block;
        vertical-align: top;
        border-radius: 4px;
        background-color: var(--color-accent-alpha);

        &:hover {
          transform: none;
        }
      }
    }

    mark {
      text-decoration: none;
      margin-top: 5px;
      border-radius: 8px;
      width: max-content;
      background-color: var(--color-accent-alpha);

      &:hover {
        transform: none;
      }
    }
  }

  .special a {
    background-color: var(--color-background-mute) !important;

    &:hover {
      background-color: var(--color-accent-alpha) !important;
    }
  }
}

@media screen and (max-width: 682px) {
  nav ul li a {
    white-space: nowrap;
  }

  .home h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 338px) {
  nav ul {
    width: 100%;
    overflow-y: auto;
  }
}

/* Other */

a mark {
  text-decoration: underline;
  display: inline-block;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

blockquote {
  border-radius: 8px 25px 25px 8px !important;
}

footer {
  max-width: 663px !important;
}

blockquote {
  background-color: transparent !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.625rem 0 !important;
}

.edits {
  margin-top: 3rem;
  font-size: 0.9rem;
  color: var(--color-text-secondary);
  font-style: italic;
}

.wip-card a {
  background-image:
    linear-gradient(transparent, transparent),
    repeating-linear-gradient(
      45deg,
      #000,
      #000 10px,
      #ffdd00 10px,
      #ffdd00 17px
    );
  background-size:
    calc(100% - 1.56rem) 100%,
    1.56rem 100%;
  background-position:
    left center,
    right center;
  background-repeat: no-repeat;
}

.hidden a {
  opacity: 0;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
    transform: scale(0);
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
  transform-origin: 70% 70%;
  display: inline-block;
}

.wave:hover {
  animation-play-state: paused;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (prefers-color-scheme: light) {
  img[data-mode="darkmode-only"] {
    display: none !important;
  }
}

@media (prefers-color-scheme: dark) {
  img[data-mode="lightmode-only"] {
    display: none !important;
  }
}

.button {
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: var(--color-background-second);
  padding: 0.5rem 1rem;
  color: var(--color-accent);
  text-decoration: none;
}

mark {
  padding: 0.125rem 0.375rem;
  font-size: 0.875rem;
}

.ohnohoney {
  display: none !important;
}

footer nav ul li a[href*="/commissions"] {
  position: relative;

  &:hover {
    &::after {
      transform: rotate(360deg);
    }
  }

  &::after {
    display: block;
    position: absolute;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    inset-block-start: -1rem;
    inset-inline-end: -1rem;
    box-shadow: var(--base-shadow);
    border-radius: 999px;
    background-color: var(--color-accent);
    padding: 0.25rem 0.3125rem;
    content: "New!";
    color: var(--color-background);
    font-size: smaller;
    line-height: 1;
  }
}

.🇲🇩:hover {
  &::after {
    content: " 🇲🇩✊🇪🇺";
  }
}

.fade-text {
  overflow: hidden;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 1.4rem,
    black calc(50% - 1.5rem),
    transparent
  );
  max-height: 5em;
  transition: max-height 0.3s ease;

  &.expanded {
    mask-image: none;
    max-height: none;
    overflow: visible;
  }
}

.button-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.action-button {
  text-align: center;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--color-text);
  text-decoration: none;
  margin-top: 0.2rem;
  background-color: var(--color-header);
  border: 0.4px solid var(--color-border);
  padding: 0.7rem 2.3rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(218, 105, 68, 0.15);
    text-decoration: none;
  }
}

.works {
  width: 100%;
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .work-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;

    .work-period {
      margin: 0;
    }

    .work-info {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      .work-desc {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;

        h4 {
          font-size: 1.1rem;
          font-weight: 600;
          margin: 0 !important;
          letter-spacing: 0;
        }

        p {
          margin: 0 !important;
          font-size: 0.95rem;
        }
      }

      img {
        width: 60px;
        height: 60px;
        border-radius: 10%;
        object-fit: cover;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .work-item {
      flex-direction: column;
      align-items: flex-start;
      gap: 0rem;

      .work-info {
        flex-direction: row;
        gap: 0.5rem;

        img {
          width: 50px;
          height: 50px;
        }

        .work-desc {
          align-items: flex-start;

          h4 {
            font-size: 1rem;
          }

          p {
            font-size: 0.85rem;
          }
        }
      }
    }
  }
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: stretch;
  padding: 0 !important;
  gap: 0.625rem;
  flex-wrap: wrap;

  li {
    display: flex;
    height: 34px;
    background-color: rgba(218, 105, 68, 0.1);
    padding: 4px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(218, 105, 68, 0.15);
    }

    a {
      color: var(--color-text);
      font-size: 0.9rem;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

.projects {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 !important;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6em;
    background: linear-gradient(
      to bottom,
      transparent,
      var(--color-background)
    );
    pointer-events: none;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(218, 105, 68, 0.1);
    padding: 3rem 1rem 0 1rem;

    img {
      margin: 0;
      width: 90%;
      border-radius: 0;
    }

    .project-info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      text-align: center;
      gap: 0.2rem;

      h4 {
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0 !important;
        letter-spacing: 0;

        a {
          color: var(--color-text);
        }
      }

      p {
        margin: 0 !important;
        max-width: 40%;
        font-size: 1rem;
      }
    }
  }
}

#sponsor {
  text-align: center;
  padding: 1rem 0 1rem 0;
}

.sponsors ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  gap: 0.625rem;

  li {
    list-style: none;
    text-align: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0.5rem 1rem;
      text-align: center;
      background-color: #f7e8e9;
      border-radius: 0.8rem;
      transition:
        transform 0.3s ease 0s,
        background-color 0.3s ease 0s;

      @media (prefers-color-scheme: light) {
        &:hover {
          background-color: #f2e3e4;
        }
      }

      @media (prefers-color-scheme: dark) {
          background-color: #400102;
        transition: all 0.3s;

        &:hover {
          filter: grayscale(0) invert(0);
          background-color: rgb(255, 255, 255);

          img {
            filter: grayscale(0) invert(0);
            box-shadow: none;
            transform: none;
          }
        }

        img {
          filter: grayscale(1) invert(1);
          transition: all 0.3s;
          margin: 1.25rem;
          width: 10rem;
          border-radius: 0;
        }
      }

      img {
        margin: 1.25rem;
        width: 10rem;
        border-radius: 0;

        &:hover {
          box-shadow: none;
          transform: none;
          cursor: pointer;
        }
      }
    }
  }
}

.achievements {
  width: 100%;
  margin-bottom: 1rem;

  ul {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .achievement-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;

    .achievement-info {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      .achievement-title {
        font-weight: 700;
        font-size: 1.2rem;
        color: var(--color-text);
      }

      .achievement-desc {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;

        h4 {
          font-size: 1.1rem;
          font-weight: 600;
          margin: 0 !important;
          letter-spacing: 0;
        }

        p {
          margin: 0 !important;
          font-size: 0.95rem;
        }
      }

      .achievement-details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        .achievement-type {
          display: flex;
          height: 34px;
          font-size: 0.9rem;
          font-weight: bold;
          background-color: rgba(218, 105, 68, 0.1);
          padding: 4px 18px;
          justify-content: center;
          align-items: center;
          border-radius: 25px;
          transition: background-color 0.3s ease;
        }

        .achievement-place {
          font-weight: 600;
        }
      }

      img {
        width: 60px;
        height: 60px;
        border-radius: 10%;
        object-fit: cover;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .achievement-item {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;

      .achievement-info {
        flex-direction: row;
        align-items: flex-start;
        gap: 0.5rem;

        img {
          width: 50px;
          height: 50px;
        }

        .achievement-desc {
          align-items: flex-start;

          h4 {
            font-size: 1rem;
          }

          p {
            font-size: 0.85rem;
          }
        }
      }
    }
  }
}

h1:not(.home h1) {
  font-weight: 800 !important;
  font-size: 2.8rem !important;

  @media screen and (max-width: 600px) {
    font-size: 2.7rem !important;
  }

  @media screen and (max-width: 400px) {
    font-size: 2rem !important;
  }
}

h2:not(.home h2) {
  font-weight: 700 !important;
  font-size: 2.2rem !important;

  @media screen and (max-width: 600px) {
    font-size: 1.8rem !important;
  }

  @media screen and (max-width: 400px) {
    font-size: 1.6rem !important;
  }
}

h3:not(.home h3) {
  font-weight: 600 !important;
  font-size: 1.6rem !important;

  @media screen and (max-width: 600px) {
    font-size: 1.4rem !important;
  }

  @media screen and (max-width: 400px) {
    font-size: 1.2rem !important;
  }
}

#home-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
